.latest-additions {
  font-family: 'IBM Plex Sans Arabic' !important;
  background-color: #f9fafb;
  padding: 40px 0;
  min-height: 598px;

  .container {
    margin: 0 auto;
  }

  h3 {
    margin-bottom: 32px;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 32px;
      text-align: center;
    }
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
    justify-items: center;
    min-height: 470px;

    .card {
      width: 100%;

      .card-contain {
        padding: 16px;
        width: 100%;

        img {
          width: 100%;
          height: 250px;
          border: 1px solid #d1d5db;
          object-fit: cover;

          @media (max-width: 768px) {
            height: 200px;
          }

          @media (max-width: 480px) {
            height: 180px;
          }
        }

        h5 {
          font-size: 18px;
          font-weight: 700;
          line-height: 28px;

          @media (max-width: 768px) {
            font-size: 16px;
            line-height: 24px;
          }
        }

        p {
          line-height: 24px;
          font-weight: 400;
        }

        .tags {
          display: flex;
          gap: 8px;
          margin: 24px 0;
        }

        .tag-outline {
          border: 1px solid #d1d5db;
          background-color: transparent;
          color: #1f2a37;
          background-color: #f9fafb;
          padding: 6px 12px;
          border-radius: 8px;
          font-size: 14px;
          font-weight: 500;

          @media (max-width: 480px) {
            padding: 3px 8px;
            font-size: 12px;
          }
        }

        .latest-additions .card-contain {
          position: relative;
          height: 100%;
        }

        .arrow-btn {
          margin-right: auto;
          width: 147px;
          height: 40px;
          border-radius: 10px;
          border: none;
          background-color: #f3f4f6;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

        .arrow-btn i {
          font-size: 24px;

          @media (max-width: 480px) {
            font-size: 18px;
          }
        }
      }
    }
  }
}
