.digital-collection {
  font-family: 'IBM Plex Sans Arabic' !important;
  background-color: white;
  padding: 40px 0;

  .container {
    /* width: 1200px; */
    margin: 0 auto;
  }

  h3 {
    margin-bottom: 32px;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
    justify-items: center;

    .card {
      width: 100%;

      .card-contain {
        padding: 16px;

        h5 {
          font-size: 18px;
          font-weight: 700;
          line-height: 28px;
        }

        p {
          line-height: 24px;
          font-weight: 400;
        }
      }
    }
  }
}
