.site-footer {
  font-family: 'IBM Plex Sans Arabic' !important;
  background-color: #074D31;
  color: #fff;
  font-family: 'Cairo', sans-serif;
  padding-top: 40px;
  min-height: 444px;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-top {
    .container {
      margin: 40px auto;
      padding: 0 15px;

      .footer-columns {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;

        .footer-column {
          flex: 1 1 250px;

          h4 {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 15px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            padding-bottom: 5px;
          }

          ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              line-height: 20px;
              font-size: 14px;
              margin-bottom: 10px;
              font-weight: 400;
            }
          }

          .social-icons {
            margin-bottom: 32px;
          }

          .social-icons,
          .accessibility-icons {
            display: flex;
            gap: 10px;
            margin-top: 10px;

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 36px;
              height: 36px;
              border: 1px solid #fff;
              border-radius: 4px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    padding: 26px 0;

    p {
      margin: 0;
      font-size: 14px;
    }

    .logo-img img {
      height: 66px;
      width: 66px;
    }
  }

  @media (max-width: 768px) {
    .footer-top .footer-columns {
      flex-direction: column;
      gap: 20px;
    }

    .footer-column h4 {
      text-align: center;
    }

    .social-icons,
    .accessibility-icons {
      justify-content: center;
    }
  }
}
